/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 16pt;
 font-weight: bold;
}
a.rvts12, span.rvts12
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts13
{
 font-size: 24pt;
 font-weight: bold;
 color: #00b0f0;
}
span.rvts14
{
 font-size: 24pt;
}
span.rvts15
{
 font-weight: bold;
}
span.rvts16
{
 font-size: 12pt;
 font-family: 'Candara';
 font-weight: bold;
}
span.rvts17 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts18, span.rvts18 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts19
{
 font-family: 'Candara';
}
span.rvts20
{
 font-size: 16pt;
 font-family: 'Candara';
 font-weight: bold;
}
span.rvts21
{
 font-family: 'Consolas';
 font-style: italic;
}
a.rvts22, span.rvts22
{
 font-size: 12pt;
 font-family: 'Candara';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts23, span.rvts23
{
 font-size: 12pt;
 font-family: 'Candara';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts24
{
 font-size: 14pt;
 font-family: 'Candara';
 font-weight: bold;
}
span.rvts25
{
 font-size: 14pt;
 font-family: 'Candara';
}
span.rvts26
{
 font-size: 12pt;
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps5
{
 widows: 2;
 orphans: 2;
}
.rvps6
{
 text-align: center;
 widows: 2;
 orphans: 2;
}
.rvps7 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps8
{
 text-indent: -145px;
 margin: 0px 0px 0px 145px;
}
.rvps9
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps10
{
 text-indent: 48px;
 margin: 0px 0px 0px 144px;
}
.rvps11
{
 text-indent: 1px;
 margin: 0px 0px 0px 144px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;}
